[req]
prompt=no
distinguished_name=efdcv
x509_extensions=v3_req

[efdcv]
C=IT
ST=Piedmont
L=Asti
O=AWS
OU=ProServeHPC
CN=EnginFrameDCV

[v3_req]
keyUsage=keyEncipherment,dataEncipherment,digitalSignature
extendedKeyUsage=serverAuth
subjectAltName=@alt_names

[alt_names]
DNS.1=__ALB_DNS_NAME__

